{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="jumbotron">
        <h1>SM8 Bulk Upload</h1>
        <p>This site does one thing - upload bulk jobs to your ServiceM8 account from a CSV file. We have created a template file with all of the necessary fields.</p>
        <p><a href="https://dl.dropboxusercontent.com/s/deroi5nwm6u7gdf/advice.png" class="dropbox-saver"></a></p>
        <p>Once you save the file and fill in all the fields, you're ready to <a href="/login">LOGIN</a>!</p>
        <p><strong>Special Note: </strong>Please do not include commas in the description or addresses.</p>
    </div>
</div>
{% endblock %}